.scene {
    font-size: large;
}

.name {
    font-family: "Monaco", "Lucida Console", monospace;
    font-size: large;
    color: black;
}

.song {
    font-family: Verdana, Arial, sans-serif;
    font-size: medium;
    color: black;
    text-indent: 20px;
}

.speech {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: medium;
    color: black;
    text-indent: 10px;
}


.direction {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: unset;
    font-size: 15px;
    color: black;
    background-color: lightgreen;
}

.direction:hover {
    color: lightgray;
    background-color: lightslategray;
    padding: 10px;
}

.SAMUEL {
    font-family: "Lucida Console", Courier, monospace;
    color: brown;
    background-color: lightpink;
}
.SAMUEL:hover {
    text-shadow:  0px 2px 2px grey;
    border: 2px double purple;
}

.KING {
    font-family: "Times New Roman", Times, serif;
    color: salmon;
    background-color: lightgoldenrodyellow;
}

.KING:hover{
    text-shadow:  0px 2px 2px grey;
    border: 2px dashed purple;
}

.FREDERIC {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: green;
    background-color: lightgrey;
}

.FREDERIC:hover {
    text-shadow: 3px 4px 3px slategray;
    border: 2px groove purple;
}

.ALL {
    font-family: "Century Gothic", Verdana, sans-serif;
    color: purple;
    background-color: lightcyan;
}

table {
    border: solid red 2px;
    width: 40%;
    color: purple;
    text-align: center;
    margin: 3%;
    padding: .5%;
}

th {
    border: 2px solid;
    border-color: lightsalmon;
    margin: 1px 1px;
    padding: 15px;
}

tr,td {
    border: 1px solid;
    padding: 10px;
}

th {
    font-size: medium;
    font-weight: bold;
}

td {
    font-size: medium;
}

tr:nth-child(even) {
    background-color:lightgray ;
}

tr:nth-child(odd) {
    background-color:lightsalmon ;
}